html {
  font-size: 62.5%;
}
@font-face {
  font-family: branding;
  src: url("../fonts/PressStart2P-Regular.ttf");
}
@font-face {
  font-family: rest;
  src: url(../fonts/AtomicAge-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  /* border: 0.1rem solid #fff; */
  box-sizing: border-box;
  font-family: rest;
}

.wrapper {
  position: absolute;
  height: 99vh;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6) 100%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("../images/bg-main.jpg");
  height: 100vh;
  gap: 5%;
  background-position: top;
  background-size: cover;
  /* border: 0.1rem solid #fff; */
}

header {
  width: 100%;
  display: flex;
  color: #fff;
  justify-content: space-between;
  height: 15vh;
}

.btn {
  height: 60%;
  width: 8em;
  margin: 1.2rem 2rem;
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-weight: bold;
  border-radius: 2rem;
  background: linear-gradient(to right, #040104, #2b0026);
  color: #fff;
  border: none;
  z-index: 10;
  cursor: pointer;
  outline: none;
}
.btn:active {
  transform: scale(0.95);
}

.btn:hover {
  color: #69afc0;
  border: 0.2rem solid #ddd;
}

header p {
  margin: auto 1rem;
  font-size: 3rem;
  font-size: clamp(1.25rem, 3vw, 3rem);
}

.branding {
  width: 100%;
  /* letter-spacing: 0.5rem; */
  word-spacing: -2rem;
  color: #ddd;
  font-size: clamp(1.75rem, 3vw, 4rem);
  margin-top: 3rem;
  text-align: center;
  line-height: 1.5;
}
.branding h1 {
  font-family: branding;
}
.number {
  height: 12vh;
  width: 20%;
  margin-bottom: 5%;
  background: rgba(200, 220, 250, 0.15);
  border-radius: 2rem;
  color: #ddd;
  font-weight: bold;
  font-size: clamp(5rem, 4.5vw, 4.5vw);
  font-family: rest;
  text-align: center;
  border: 0.2rem solid #adaf8d;
}

.game {
  height: 30vh;
  width: 96%;
  display: flex;
  margin-top: -5rem;
}

.panel {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.panel input {
  all: unset;
  color: #fff;
  font-size: 500%;
  text-align: center;
  font-family: rest;
  max-width: 20rem;
  width: 60%;
  min-height: 5rem;
  height: 25%;
  margin: 2% auto;
  padding: 0.1rem 0;
  border: 0.2rem solid #adaf8d;
  border-radius: 2rem;
  background: rgba(200, 220, 250, 0.15);
  z-index: 10;
}
.panel input:focus {
  border: 0.5rem solid rgb(121, 55, 55);
}
.check {
  max-height: 6.5rem;
  height: 30%;
  width: 25%;
  margin: 3% auto;
}
.panel-info {
  width: 55%;
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 0.8rem;
}

.panel-info p {
  width: 80%;
  font-size: clamp(1rem, 2vw, 2rem);
  letter-spacing: 0.1em;
  padding: 3%;
  border-radius: 2rem;
  /* border: 0.3rem solid #ccc; */
  background: rgba(0, 31, 52, 0.7);
}

@media (max-width: 768px) {
  .branding {
    margin: 3rem auto;
  }
  .number {
    margin-top: -1rem;
    margin-bottom: 7rem;
  }
  .game {
    margin-bottom: 5rem;
    height: auto;
  }

  .panel-info p {
    padding: 6% 3%;
  }
  .check {
    width: 5.5em;
    margin-top: 1em;
    height: 5rem;
  }
}
